body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(244, 241, 222);
    margin: 0;
    padding: 0;
}

.banner {
    background-color: rgb(61, 64, 91);
    color: white;
    padding: 15px 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}


.syllable {
    font-size: 24px;
    margin-bottom: 20px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
}

.textArea {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    flex: 1;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.5) inset;
    outline: none;
    color: #fff;
    font-size: 20px;
    display: none;
}

.endBanner {
    display: none;
    color: white;
    background-color: white;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 15px;
    border-radius: 10px;
    box-shadow: 0 0 35px rgb(0, 0, 0);
    z-index: 1000;
}

.victoryBanner {
    color: white;
    background-color: #3d405b;
    padding: 20px 80px;
    font-size: 26px;
    border-radius: 15px;
    width: 100px;
    z-index: 1000;
}

.buttonEndGame {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #3d405b;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 130px;
}

.joinButton {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    flex: 1;
    background-color: #3d405b;
    font-size: 20px;
    display: block;
    cursor: pointer;
}

.scoreBoard {
    display: none;
}